/*anfang header nav*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin-top: 2%;
}

.header {
  padding: 20px;
}

#logo {
  margin-left: auto;
}

section {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
  font-size: larger;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 40px;
}

.nav-links a {
  padding-bottom: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}  

.nav-links a:hover {
  border-bottom: 2px solid rgb(15, 15, 15);
  margin-bottom: -2px;
}

.navbar.scrolled {
  background-color: rgb(248, 248, 248); 
}

#team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.member {
  text-align: center;
  margin: 20px;
  flex: 0 0 calc(25% - 40px); /* 25% Breite mit 20px Abstand auf jeder Seite */
}

.member img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.member h3,
.member p {
  margin-top: 5px;
}

.header h1 {
  margin: 0;
  color: rgb(153, 142, 142);
}

.topnav {
  overflow: hidden;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 5px;
  display: flex;
  margin-left: 5px;
  align-items: right;
  justify-content: flex-end;
}

.topnav img {
  height: 40px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
}

.body {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.8);
}

.content {
  text-align: left;
  padding: 20px;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
}

/*ende header nav*/
p {

  text-align: center;
  text-align: justify;
  width: 60%;
  margin: 0 auto;
}
h2{
  text-align: center;
  margin-bottom: 3%;
}
/*footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #000000;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/*ende footer*/
